{% extends "base.html" %}
{% block content %}
   <h2>NUFC fantube</h2>
   <img 
      src="https://upload.wikimedia.org/wikipedia/ko/thumb/8/84/%EB%89%B4%EC%BA%90%EC%8A%AC_%EC%9C%A0%EB%82%98%EC%9D%B4%ED%8B%B0%EB%93%9C_FC_%EB%A1%9C%EA%B3%A0.svg/200px-%EB%89%B4%EC%BA%90%EC%8A%AC_%EC%9C%A0%EB%82%98%EC%9D%B4%ED%8B%B0%EB%93%9C_FC_%EB%A1%9C%EA%B3%A0.svg.png"
      width= "200px"
      />
   
   <p>프로필 편집</p>
   <p>
      <strong>박지호 (Jiho park)<br/></strong>
      학생
   </p>
   <p>JihoPark.github.io</p>
   <p>
      게시물<br/>
      팔로워<br/>
      팔로우<br/>
      10<br/>
      39<br/>
      5
      </p>
   <p>
      <a href="https://www.nufc.co.uk/">뉴캐슬공식홈페이지</a>
      </p>
   
      <button>
         뉴캐슬응원하기
      </button>
      
   
{% endblock content %}
