{% extends "base.html" %}
{% block content %}
   <h2>NUFC(신성) TOONS</h2>
   <img 
      src="https://upload.wikimedia.org/wikipedia/ko/thumb/8/84/%EB%89%B4%EC%BA%90%EC%8A%AC_%EC%9C%A0%EB%82%98%EC%9D%B4%ED%8B%B0%EB%93%9C_FC_%EB%A1%9C%EA%B3%A0.svg/200px-%EB%89%B4%EC%BA%90%EC%8A%AC_%EC%9C%A0%EB%82%98%EC%9D%B4%ED%8B%B0%EB%93%9C_FC_%EB%A1%9C%EA%B3%A0.svg.png"
      width= "200px"
      />
   <div>
   <img src = "/static/edu/image/profile.jpg" width="100px"/>
   <p>
      <strong>박지호 (Jiho park)<br/></strong>
      학생
   </p>
   <p>JihoPark.github.io</p>
   <div>
         <div>
               <div>
                     <img src ="/static/edu/image/hl 1.jpg" height ="35px"/>
               </div>
               <div>
                     😎
               </div>
            </div>
            <div>
               <div>
                     <img src ="/static/edu/image/hl 2.jpg" height ="35px"/>
               </div>
               <div>
                     😍
               </div>
         </div>
   </div>
   
   <p>
      게시물<br/>
      팔로워<br/>
      팔로우<br/>
      10<br/>
      39<br/>
      5
      </p>
   <p>
      <a href="https://www.nufc.co.uk/">뉴캐슬공식홈페이지</a>
      </p>
   
      <button>
         뉴캐슬응원하기
      </button>
   </div>
   
   <div>
         <img src ="/static/edu/image/thumbnails/1.jpg"  width ="32%"/>
         <img src ="/static/edu/image/thumbnails/2.jpg"  width ="32%"/>
         <img src ="/static/edu/image/thumbnails/3.jpg"  width ="32%"/>
         <img src ="/static/edu/image/thumbnails/4.jpg"  width ="32%"/>
         <img src ="/static/edu/image/thumbnails/5.jpg"  width ="32%"/>
         <img src ="/static/edu/image/thumbnails/6.jpg"  width ="32%"/>
         <img src ="/static/edu/image/thumbnails/7.jpg"  width ="32%"/>
         <img src ="/static/edu/image/thumbnails/8.jpg"  width ="32%"/>
         <img src ="/static/edu/image/thumbnails/9.jpg"  width ="32%"/>
   </div>
{% endblock content %}
